<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HTML5 Form</title>
  </head>

<body>
  <h1> Stock Profit Calculator </h1>
  <p>Create your Stock profile here!</p>
  <p>Calculate your profits in your investments here and create your portfolio!</p>
  <div id="contact-form">
    <form id="contact" method="post" action="post">
      <fieldset>
        <label for="usym">Enter a Stock Symbol(in alphabets):</label>
        <input type="text" name="usym" id="usym"><br><hr>
        <label for="uallot">Allotment(No of shares bought):</label>
        <input type="text" name="uallot" id="uallot"><br><hr>
        <label for="ufsp">Final Share Price(in $):</label>
        <input type="text" name="ufsp" id="ufsp"><br><hr>
        <label for="usc">Sell Commission(in $):</label>
        <input type="text" name="usc" id="usc"><br><hr>
        <label for="uisp">Initial Share Price(in $):</label>
        <input type="text" name="uisp" id="uisp"><br><hr>
        <label for="ubc">Buy Commission(in $):</label>
        <input type="text" name="ubc" id="ubc"><br><hr>
        <label for="utrate">Capital Gain Tax Rate(%):</label>
        <input type="text" name="utrate" id="utrate"><br><hr>
        <input type="submit" name="submit" id="submit" value="Calculate" />
      </fieldset>
    </form>
  </div><!-- /end #contact-form -->
</body>
</html>